<div id="contact" class="box">
    <div class="container">
        <div class="contact-header">
            <h2>Contact</h2>
            <button type="button">Let us know how to contact You ↑</button>
        </div>
        <div class="contact-form">
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae.</p>
            <form action="">
                <div class="row-first">
                    <p>Hello! I'm</p><input type="text" placeholder="Your Name">
                    <p>and I represent</p><input type="text" placeholder="Company Name">
                    <p>.</p>
                </div>
                <div class="row-second">
                    <p>Call me at</p><input type="number" placeholder="Your telephone number">
                    <p>or send an email to</p><input type="email" placeholder="Your email adress">
                    <p>.</p>
                </div>
                <label for="contact-checkbox">
                    <input id="contact-checkbox" type="checkbox">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                </label>
                <button type="button">send details →</button>
            </form>
        </div>
    </div>
    <div class="page-number">5/5</div>
</div>
<footer class="box">
    <div class="container">
        <p>© Copyrights 2019 IG</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
    </div>
</footer>
