<header class="container">
    <nav>
        <div class="logo-mini">
            <img src="../../../assets/logo_mini.png" alt="Mini Logo" height="38" width="66">
        </div>
        <ul>
            <li>
                <a href="#0">mission</a>
            </li>
            <li>
                <a href="#0">clients</a>
            </li>
            <li>
                <a href="#0">products</a>
            </li>
            <li>
                <a href="#0">contact</a>
            </li>

        </ul>
    </nav>
</header>
