@import "../../core/variables";

header {
    background-image: url("../../../assets/header_bg.jpg");
    background-size: cover;
    height: 650px;
    position: relative;

    .container {
        overflow: visible;
    }
}

nav {
    display: flex;
    justify-content: center;
    position: relative;

    ul {
        display: flex;

        li {
            list-style-type: none;

            &:last-child a {
                border-right: none;
            }


            a {
                text-transform: uppercase;
                text-decoration: none;
                padding: 10px 20px;
                color: $color-white;
                border-right: 1px solid $color-white;

                &:hover {
                    color: rgba(255, 255, 255, 0.5);
                }
            }
        }
    }
}

.logo-mini {
    padding-top: 20px;
    border-top: 10px solid $color-green-main;
    position: absolute;
    top: 0;
    left: 0;
}


h1 {
    text-transform: uppercase;
    color: $color-white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    font-size: 58px;

    span {
        display: block;
        color: $color-mine-shaft;

    }
}

.cookies-wrapper {
    width: 100%;
    background-color: rgba(45, 45, 45, 0.8);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.cookies-bar {
    display: flex;
    align-items: center;
    margin: 0 auto;

    p {
        font-size: 14px;
        font-family: 'Mada', sans-serif;
        font-weight: 300;
        color: $color-white;
        padding: 0 20px;

        a {
            color: $color-green-main;
        }
    }

    button {
        padding: 5px 10px;
        background-color: $color-green-main;
        font-size: 14px;
        color: $color-white;
        text-transform: uppercase;
        align-items: flex-start;
        border: none;
        border-radius: 5px;
        white-space: nowrap;

        &:focus {
            outline: 0;
        }

        &:hover {
            background-color: $color-green-secondary;
            cursor: pointer;
        }

        &:active {
            transform: translateY(2px);
        }
    }
}

//  mg tablet

@media all and (max-width: 979px) {
    header {
        height: 400px;
    }
    h1 {
        font-size: 40px;
    }
    .cookies-wrapper {
        width: calc(100% - 20px);
        padding: 0 10px;
    }
}

// mq mobile

@media all and (max-width: 599px) {
    .cookies-wrapper {
        position: fixed;
        z-index: 3;
        background-color: $color-mine-shaft;
    }
    nav {
        flex-direction: column;

        ul {
            flex-direction: column;
            align-items: flex-end;

            li {
                margin-bottom: 3px;

                a {
                    border: none;
                }
            }
        }
    }
}
