@import "../../core/variables";

header {
    background-image: url("../../../assets/header_bg.jpg");
    background-size: cover;
    height: 650px;
}

nav {
    display: flex;
    justify-content: center;
    ul {
        display: flex;

        li {
            list-style-type: none;

            a {
                text-transform: uppercase;
                text-decoration: none;
                padding: 10px 20px;
                color: $color-white;
            }
        }
    }
}

.logo-mini {
    margin-top: 20px;
    border-top: 5px solid ;
}
