<header class="box">
    <div class="container">

        <nav>
            <div class="logo-mini">
                <img src="../../../assets/logo_mini.png" alt="Mini Logo" height="38" width="66">
            </div>
            <ul>
                <li>
                    <a href="#0">mission</a>
                </li>
                <li>
                    <a href="#0">clients</a>
                </li>
                <li>
                    <a href="#0">products</a>
                </li>
                <li>
                    <a href="#0">contact</a>
                </li>

            </ul>
        </nav>

        <h1>Witamy <span>Infinity Group</span></h1>


        <div class="cookies-wrapper">
            <div class="cookies-bar container">

                <img src="../../../assets/cookie.png" alt="Cookie pictogram">
                <p class="cookies-info">We use own and third party cookies to improve our services and show ads related
                    to your
                    preferences by analyzing your browser habits . If you continue browsing , we consider you accept its
                    use.
                    You can switch the configuration or learn more
                    <a href="#0">here</a></p>
                <button class="close-cookies-info" type="button">close ✕</button>
            </div>
        </div>
    </div>

</header>
