@import "../../core/variables";

header {
    background-image: url("../../../assets/header_bg.jpg");
    background-size: cover;
    height: 650px;
}

nav {
    display: flex;
    justify-content: space-around;

    ul {
        display: flex;

        li {
            list-style-type: none;

            &:last-child a {
                border-right: none;
            }


            a {
                text-transform: uppercase;
                text-decoration: none;
                padding: 10px 20px;
                color: $color-white;
                border-right: 1px solid $color-white;
                &:hover {
                    color: rgba(255,255,255, 0.5);
                }
            }
        }
    }
}

.logo-mini {
    padding-top: 20px;
    border-top: 10px solid $color-green-main;
}
