<div id="map" class="box">
    <img src="../../../assets/map.jpg" alt="Map image" class="img-responsive">

    <div class="address-wrapper">
        <p class="brand-name">Infinity Group Sp. z o.o.</p>
        <p class="address">ul.Skladowa<br>15-399 Bialystok,<br>Polska.<br><br>Lorem ipsum dolor sit amet, consectetur
            adipiscing elit</p>
    </div>

    <div class="pointer">
        <img src="../../../assets/pointer.png" alt="Pointer">
        <span class="tooltiptext">Białystok<br>ul. Składowa 12</span>
    </div>

    <div class="page-number">4/5</div>
</div>

