@import "../../core/variables";

#map {
    position: relative;
}

.pointer {
    position: absolute;
    cursor: pointer;
    top: 33%;
    right: 23.5%;

}

.pointer .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: $color-green-main;
    color: $color-white;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    bottom: calc(100% + 5px);
    left: 50%;
    margin-left: -60px;
    z-index: 1;
}

.pointer:hover .tooltiptext {
    visibility: visible;
}

.address-wrapper {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-20%, -50%);
    .address {
        font-size: 22px;
        font-weight: 300;
        width: 60%;
        color: $color-mine-shaft;
    }
}

// brand

.brand-name {
    position: relative;
    font-size: 22px;
    color: $color-mine-shaft;
    &:after {
        position: absolute;
        display: block;
        content: '';
        left: -45px;
        top: -3px;
        background: url("../../../assets/navi.png") no-repeat;
        width: 33px;
        height: 33px;
    }
}

