/* You can add global styles to this file, and also import other style files */

//==========================================================================
//                                  Global styles
//==========================================================================

// normalize.css disabled
// "./node_modules/normalize.css/normalize.css"



@import url('https://fonts.googleapis.com/css?family=Homenaje');
@import url('https://fonts.googleapis.com/css?family=Mada:300,400,600,900');

@import "app/core/variables";


/*
 * Structure
 */

.box {
    max-width: 1360px;
    margin: 0 auto;
    position: relative;
}

.container {
    max-width: 980px;
    margin: 0 auto;
    overflow: hidden;
    //background-color: rgba(255,255,0,.3);
}

/*
 * Typography
 */


h1 {
    font-family: 'Homenaje', sans-serif;
}

h2 {
    font-size: 50px;
    font-family: 'Homenaje', sans-serif;
    text-align: center;
    color: $color-mine-shaft;
}

body, button {
    font-family: 'Mada', sans-serif;
}

/*
 * Features
 */

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.page-number {
    position: absolute;
    right: 0;
    top: calc(50% - 50px);
    transform: translateY(50%);
    width: 100px;
    text-align: center;
    padding-bottom: 30px;
    color: $color-mine-shaft;
    border-bottom: 1px solid $color-mine-shaft;
}

/*
 * Fix
 */

.owl-carousel button.owl-dot:focus {
    outline: none !important;
}

/*
 * Media queries
 */

//  mq tablet

@media all and (max-width: 979px) {
    body {
        margin: 0;
    }
    .box {
        padding: 0 10px;
    }
    h2 {
        font-size: 30px;
    }
    .page-number {
        width: 50px;
    }
}

// mq mobile

@media all and (max-width: 599px) {

}
