/* You can add global styles to this file, and also import other style files */

//==========================================================================
//                                  Global styles
//==========================================================================

// normalize.css disabled
// "./node_modules/normalize.css/normalize.css"



@import url('https://fonts.googleapis.com/css?family=Homenaje');
@import url('https://fonts.googleapis.com/css?family=Mada:300,400,600,900');



/*
 * Structure
 */

.container {
    max-width: 1280px;
    margin: 0 auto;
    overflow: hidden;
}

/*
 * Typography
 */


h1 {
    font-family: 'Homenaje', sans-serif;
}

body {
    font-family: 'Mada', sans-serif;
}
