/* You can add global styles to this file, and also import other style files */

//==========================================================================
//                                  Global styles
//==========================================================================

// normalize.css disabled
// "./node_modules/normalize.css/normalize.css"



@import url('https://fonts.googleapis.com/css?family=Homenaje');
@import url('https://fonts.googleapis.com/css?family=Mada:300,400,600,900');

@import "app/core/variables";


/*
 * Structure
 */

.box {
    max-width: 1360px;
    margin: 0 auto;
    //padding: 0 20px;
}

.container {
    max-width: 980px;
    margin: 0 auto;
    overflow: hidden;
    //background-color: rgba(255,255,0,.3);
}

/*
 * Typography
 */


h1 {
    font-family: 'Homenaje', sans-serif;
}

h2 {
    font-size: 50px;
    font-family: 'Homenaje', sans-serif;
    text-align: center;
    color: $color-mine-shaft;
}

body, button {
    font-family: 'Mada', sans-serif;
}

/*
 * Features
 */

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

/*
 * Fix
 */

.owl-carousel button.owl-dot:focus {
    outline: none !important;
}
